@using lab8.Models
@model Blog

@{
    ViewBag.Title = "BlogView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlogView</h2>

<fieldset class="row">
    <legend class="col-md-12">Blog</legend>

    <div class="display-label col-sm-2">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label col-sm-2">
         @Html.DisplayNameFor(model => model.Descroption)
    </div>
    <div class="display-field col-sm-10">
        @Html.DisplayFor(model => model.Descroption)
    </div>

    @if (!Model.Url.IsEmpty())
    {
        <div class="display-label col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </div>
        <div class="display-field col-sm-10">
            <a href="//@Model.Url">@Html.DisplayFor(model => model.Url)</a>
        </div>
    }

    @if (Model.Post.Count > 0)
    {
        <div>
            <div class="display-label col-sm-12"><h4>Посты</h4></div>
            @foreach (var post in Model.Post)
            {
                @Html.Partial("PostPartial", post)
            }
        </div>
    }
    else
    {
        <div class="display-label col-sm-12">
            Постов нет
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditBlog", new { id=Model.Id }) |
    @Html.ActionLink("Delete", "DeleteBlog", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")

</p>
