@using lab8.Models
@model Post

@{
    ViewBag.Title = "PostView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="col-sm-12">PostView</h2>
</div>

<fieldset class="row">
    <legend class="col-sm-12">Post</legend>

    <div class="display-label col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label col-sm-2">
        @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field col-sm-10">
        @Html.DisplayFor(model => model.Content)
    </div>

    @if (Model.Comment.Count > 0)
    {
        <div class="col-sm-12">
            <div class="display-label"><h4>Комментарии</h4>
            </div>
            @foreach (var comment in Model.Comment)
            {
                <p class="display-field comment">
                    <b>Author: @comment.AutorName</b><br/>
                    Text: @comment.Comment1
                </p>
            }
        </div>
    }
    else
    {
        <div class="display-label col-sm-12">
            Комментариев нет
        </div>
    }

    @{
        Comment newComment;
        using (var blogs = new SimpleBlogEntities())
        {
            newComment = blogs.Comment.Create();
            newComment.IdPost = Model.Id;
        }
    }
</fieldset>

@Html.Partial("AddCommentPartial", newComment)

<p>
    @Html.ActionLink("Back to Blog", "BlogView", new {id=Model.IdBlog})
</p>
